
KolosBMI/.vs/KolosBMI/FileContentIndex/5787c4c9-2495-4949-8f0b-c43947a5faa2.vsidx
KolosBMI/.vs/KolosBMI/v17/Browse.VC.opendb
KolosOdwracanie/.vs/KolosOdwracanie/FileContentIndex/f749db43-0378-4493-bf55-de83973a7058.vsidx
KolosOdwracanie/.vs/KolosOdwracanie/v17/Browse.VC.opendb
